<template>
  <div class>
    <Sneakers />
  </div>
</template>

<script>
import Sneakers from "@/components/categories/Sneakers";
export default {
  components: {
    Sneakers
  }
};
</script>

<style>
</style>