<template>
  <div class>
    <Trending />
  </div>
</template>

<script>
import Trending from "@/components/categories/Trending";
export default {
  components: {
    Trending
  }
};
</script>

<style>
</style>