<template>
  <div class="row">
    <div v-if="kids.length > 0">
      <div class="col s12 m4 l3" v-for="(kid, i) in kids" :key="i">
        <div class="card z-depth-1">
          <div class="card-image">
            <img :src="kid.src" :alt="kid.src" class="card-img" />
          </div>

          <div class="card-content">
            <div class="card-title">{{ kid.name }}</div>
            <div>{{ kid.price }}</div>
            <div v-slice>{{ kid.description }}</div>
            <div class="card-action center">
              <div class="row">
                <router-link
                  :to="{ name: 'product', params: {category: kid.category,id: kid.id}}"
                  class="btn left green lighten-2"
                >
                  <i class="material-icons">arrow_forward</i>
                </router-link>
                <button @click="addToCart(kid)" class="btn waves-effect right green lighten-2">
                  <i class="material-icons">shopping_cart</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="kids.length == 0" class="center">
      <h5>Ooops! We have no products in this category</h5>
      <h6>Come back soon</h6>
    </div>
  </div>
</template>

<script>
import dbmixin from "@/mixins/dbmixin";
import mixins from "@/mixins/mixins";
import { mapGetters } from "vuex";
import { DB, STORE } from "@/firebase/init";
export default {
  name: "Kids",
  mixins: [mixins, dbmixin],
  data() {
    return {};
  },
  computed: {
    kids() {
      return this.$store.getters.kids;
    }
  },
  created() {
    if (this.$store.state.products.length == 0) {
      this.getProducts();
    }
  }
};
</script>

<style>
</style>