<template>
  <div class="row">
    <div v-if="loading && mens.length == 0" class="center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only lighten-2">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="mens.length > 0">
      <div class="col s12 m4 l3" v-for="(men, i) in mens" :key="i">
        <div class="card z-depth-1">
          <div class="card-image">
            <img :src="men.src" :alt="men.src" class="card-img" />
          </div>

          <div class="card-content">
            <div class="card-title">{{ men.name }}</div>
            <div>{{ men.price }}</div>
            <div v-slice>{{ men.description }}</div>
            <div class="card-action center">
              <div class="row">
                <router-link
                  :to="{ name: 'product', params: {category: men.category,id: men.id}}"
                  class="btn left green lighten-2"
                >
                  <i class="material-icons">arrow_forward</i>
                </router-link>
                <button @click="addToCart(men)" class="btn waves-effect right green lighten-2">
                  <i class="material-icons">shopping_cart</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="mens.length == 0 && loading == false" class="center">
      <h5>Ooops! We have no products in this category</h5>
      <h6>Come back soon</h6>
    </div>
  </div>
</template>

<script>
import mixins from "@/mixins/mixins";
import dbmixin from "@/mixins/dbmixin";
import { mapGetters } from "vuex";
import { DB, STORE } from "@/firebase/init";
export default {
  name: "Men",
  mixins: [mixins, dbmixin],
  data() {
    return {};
  },
  computed: {
    mens() {
      return this.$store.getters.men;
    }
  },
  created() {
    if (this.$store.state.products.length == 0) {
      this.getProducts();
    }
  }
};
</script>

<style>
</style>