<template>
  <div class="row">
    <div v-if="trending.length > 0">
      <div class="col s12 m4 l3" v-for="(trend, i) in trending" :key="i">
        <div class="card z-depth-1">
          <div class="card-image">
            <img :src="trend.src" :alt="trend.src" class="card-img" />
          </div>

          <div class="card-content">
            <div class="card-title">{{ trend.name }}</div>
            <div>{{ trend.price }}</div>
            <div v-slice>{{ trend.description }}</div>
            <div class="card-action center">
              <div class="row">
                <router-link
                  :to="{ name: 'product', params: {category: trend.category,id: trend.id}}"
                  class="btn left green lighten-2"
                >
                  <i class="material-icons">arrow_forward</i>
                </router-link>
                <button @click="addToCart(trend)" class="btn waves-effect right green lighten-2">
                  <i class="material-icons">shopping_cart</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="trending.length == 0 && loading == false" class="center">
      <h5>Ooops! We have no products in this category</h5>
      <h6>Come back soon</h6>
    </div>
  </div>
</template>

<script>
import mixins from "@/mixins/mixins";
import dbmixin from "@/mixins/dbmixin";
import { mapGetters } from "vuex";
import { DB, STORE } from "@/firebase/init";
export default {
  name: "Trending",
  mixins: [mixins, dbmixin],
  data() {
    return {};
  },
  computed: {
    trending() {
      return this.$store.getters.trending;
    }
  },
  created() {
    if (this.$store.state.products.length == 0) {
      this.getProducts();
    }
  }
};
</script>

<style>
</style>