<template>
  <div class="row">
    <div v-if="loading && womens.length == 0" class="center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only lighten-2">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="womens.length > 0">
      <div class="col s12 m4 l3" v-for="(women, i) in womens" :key="i">
        <div class="card z-depth-1">
          <div class="card-image">
            <img :src="women.src" :alt="women.src" class="card-img" />
          </div>

          <div class="card-content">
            <div class="card-title">{{ women.name }}</div>
            <div>{{ women.price }}</div>
            <div v-slice>{{ women.description }}</div>
            <div class="card-action center">
              <div class="row">
                <router-link
                  :to="{ name: 'product', params: {category: women.category,id: women.id}}"
                  class="btn left green lighten-2"
                >
                  <i class="material-icons">arrow_forward</i>
                </router-link>
                <button @click="addToCart(women)" class="btn waves-effect right green lighten-2">
                  <i class="material-icons">shopping_cart</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="womens.length == 0 && loading == false" class="center">
      <h5>Ooops! We have no products in this category</h5>
      <h6>Come back soon</h6>
    </div>
  </div>
</template>

<script>
import mixins from "@/mixins/mixins";
import dbmixin from "@/mixins/dbmixin";
import { mapGetters } from "vuex";
import { DB, STORE } from "@/firebase/init";
export default {
  name: "Women",
  mixins: [mixins, dbmixin],
  data() {
    return {};
  },
  computed: {
    womens() {
      return this.$store.getters.women;
    }
  },
  created() {
    if (this.$store.state.products.length == 0) {
      this.getProducts();
    }
  }
};
</script>

<style>
</style>