/* @media only screen and (min-width: 601px){
.row .col.offset-m3 {
    margin-left: 23.6667%;
}

.row .col.m9 {
    width: 77.5%;
    margin-left: auto;
    left: auto;
    right: auto;
}
} */
.app #progress {
    position: sticky;
    z-index: 1000;
    margin: 0;
    top: 55px;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

#cartN {
    position: absolute;
    margin-left: 50px;
    margin-top: -5px;
    color: orange;
    font-size: 16px;
    font-weight: bolder;
}

.preloader-wrapper.big {
    width: 100px;
    height: 100px;
}

#proceed {
    margin-top: 20px;
}

tfoot button {
    margin: 20px auto;
}

table {
    margin: 0 auto;
}

.card-header {
    margin-top: 8px;
    font-size: 26px;
}

i {
    cursor: pointer;
}

.sidenav {
    z-index: 1024;
}

#app #search input[type="text"]:not(.browser-default),
#app #search input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: unset;
    box-shadow: none;
    margin-left: 10px;
    cursor: pointer;
}

.app .brand-logo {
    font-size: 26px;
    position: sticky;
    top: 0;
    left: 0;
}

.app #top div:last-child {
    padding: 0 5px;
    display: flex;
}

.app #top div:last-child>i {
    padding: 0 8px;
}

.app #top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    z-index: 996;
    height: 55px;
}

/* .collection.collection-item.router-link-exact-active.router-link-active {
    background: #fff;
} */

.app #side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.app #sidelinks {
    overflow-y: scroll;
    position: relative;
}

.app #top {
    position: sticky;
    top: 0;
    right: 0;
}

.collection {
    border: none;
}

.collection a.collection-item,
.collection .collection-item {
    border: inherit;
    color: black;
    background: transparent;
}


.collection-item.router-link-exact-active.router-link-active {
    background: #c8e6c9;
}

.card .card-content {
    padding: 8px 24px;
}

.card .card-action {
    padding: 8px 24px;
}

.drag-target {
    display: none;
}

.responsive-img {
    border-radius: 5px;
}