.checkout .form input[type="text"]:not(.browser-default),
.checkout .form input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-block: 2px solid green;
}

.checkout #complete-order {
    margin-top: 24px;
}

ul.stepper .step.active::before,
ul.stepper .step.done::before {
    background: #4caf50;
}

ul.stepper .step.wrong::before {
    background: red;
}

.product table {
    margin: 0 auto;
}

.v-stepper .v-stepper__step__step {
    color: black;
}

.v-stepper__step .v-stepper__step--complete {
    background: #4caf50;
}

/* select {
    display: block;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: unset;
} */

.payment>div {
    display: none;
}

.payment>div.active {
    display: block;
}