<template>
  <div>
    <Product />
  </div>
</template>

<script>
import Product from "@/components/Product";
export default {
  data() {
    return {};
  },
  components: {
    Product
  }
};
</script>

<style>
</style>