<template>
  <div class="checkout">
    <div v-if="cartProducts.length > 0 && !completed">
      <div v-if="!submitted">
        <div class="col s12 m8 l8 center" id="order">
          <h4>Confirm order</h4>
          <table v-if="cartProducts.length > 0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Add</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(product, i) in cartProducts" :key="i">
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>
                  <i @click="increment(product.id)" class="material-icons">add</i>
                </td>
                <td>
                  <i @click="removeProduct(product.id)" class="material-icons">remove</i>
                </td>
              </tr>
              <tr>
                <td colspan="2">Total :</td>
                <td>{{ total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col s12 m8 l8" id="complete-order">
          <h4>Complete order</h4>
          <div class="card">
            <div class="card-content">
              <ul class="stepper linear">
                <li class="step active">
                  <div class="step-title waves-effect waves-dark">Your info</div>
                  <div class="step-content" style>
                    <div class="row">
                      <div class="input-field col s12">
                        <input
                          v-model="customer.name"
                          id="name"
                          name="name"
                          type="text"
                          class="validate"
                          required
                        />
                        <label for="name">Name</label>
                      </div>
                      <div class="input-field col s12">
                        <input
                          v-model="customer.email"
                          id="email"
                          name="email"
                          type="email"
                          class="validate"
                          required
                        />
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field col s12">
                        <input
                          v-model="customer.phone"
                          id="tel"
                          name="tel"
                          type="tel"
                          class="validate"
                          required
                        />
                        <label for="tel">Phone</label>
                      </div>
                    </div>
                    <div class="step-actions">
                      <button
                        @click.once="initCheckbox"
                        class="waves-effect waves-dark btn green lighten-2 next-step"
                      >CONTINUE</button>
                    </div>
                  </div>
                </li>
                <li class="step">
                  <div class="step-title waves-effect waves-dark">Picking and Payment</div>
                  <div class="step-content">
                    <div class="row">
                      <div class="input-field col s12">
                        <div class="input-field col s12">
                          <select v-model="shipping">
                            <option value disabled selected>Choose a picking location</option>
                            <option v-for="(place, i) in places" :key="i" :value="place">{{ place }}</option>
                          </select>
                        </div>
                        <form>
                          <p>
                            <label>
                              <input v-model="payment" name="payment" type="radio" value="cash" />
                              <span>Cash on delivery</span>
                            </label>
                          </p>
                          <p>
                            <label>
                              <input v-model="payment" name="payment" type="radio" value="mpesa" />
                              <span>Mpesa</span>
                            </label>
                          </p>
                          <p>
                            <label>
                              <input
                                @focus.once="updatePay"
                                v-model="payment"
                                name="payment"
                                type="radio"
                                value="paypal"
                              />
                              <span>Paypal</span>
                            </label>
                          </p>
                        </form>
                        <div ref="payment" class="payment col s12 m8">
                          <div id="paypal" ref="paypal" :class="{'active': payment === 'paypal'}"></div>
                          <div
                            id="mpesa"
                            class="pview"
                            :class="{'active': payment === 'mpesa'}"
                          >Mpesa</div>
                        </div>
                      </div>
                    </div>
                    <div class="step-actions">
                      <button class="waves-effect waves-dark btn green lighten-2 next-step">CONTINUE</button>
                      <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                    </div>
                  </div>
                </li>
                <li class="step">
                  <div class="step-title waves-effect waves-dark">Step 3</div>
                  <div class="step-content">
                    Finish!
                    <div class="step-actions">
                      <button
                        class="waves-effect waves-dark btn green lighten-2"
                        type="submit"
                        @click.prevent="completeOrder"
                      >SUBMIT</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="submitted && !completed" class="center">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-green-only lighten-2">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div v-else-if="submitted && completed">
        
      </div>-->
    </div>
    <div v-else-if="cartProducts.length == 0 && completed">
      <div class="center">
        <div class="row">
          <i class="material-icons green-text lighten-2">check_circle_outline</i>
          <h6>You have successfully placed your order, we will contact you when your items are ready for collection</h6>
        </div>
      </div>
    </div>
    <div v-else>
      <h4>Add products to your basket</h4>
      <router-link :to="{name: 'home'}">
        <button class="btn green lighten-2">
          <i class="material-icons right">arrow_forward</i>
          Explore products
        </button>
      </router-link>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import product from "../mixins/product";
import { DB } from "../firebase/init";
import { Orders } from "../classes/order";
import M from "materialize-css";
// import { MStepper } from "materialize-stepper";
export default {
  name: "Checkout",
  mixins: [product],
  data() {
    return {
      payment: null,
      places: [
        "CBD",
        "Parklands",
        "Westlands",
        "Karen",
        "Greenspan mall",
        "Roysambu",
        "Garden city",
        "Komarocks",
        "Dandora",
        "Embakasi",
        "Imara Daima",
        "Cabanas",
        "Pipeline",
        "Utawala",
        "Industrial area",
        "T mall",
        "Galleria mall",
        "Bomas",
        "Junction mall",
        "Adams Arcade"
      ],
      customer: {
        name: null,
        email: null,
        phone: null
      },
      shipping: null,
      submitted: false,
      completed: false,
      status: "incomplete",
      paypalCompleted: "incomplete"
    };
  },
  created() {
    // console.log(this.cartProducts);
  },
  mounted() {
    /* eslint-disable */
    if (this.cartProducts.length == 0) {
      this.$router.push({ name: "home" });
    }
    function defaultValidationFunction(stepperForm, activeStepContent) {
      var inputs = activeStepContent.querySelectorAll(
        "input, textarea, select"
      );

      for (let i = 0; i < inputs.length; i++) {
        if (!inputs[i].checkValidity()) return false;
      }
      return true;
    }
    var stepper = document.querySelector(".stepper");

    var stepperInstace = new MStepper(stepper, {
      //   // Default active step.
      firstActive: 0,
      //   // Allow navigation by clicking on the next and previous steps on linear steppers.
      linearStepsNavigation: true,
      //   // Auto focus on first input of each step.
      autoFocusInput: false,
      //   // Set if a loading screen will appear while feedbacks functions are running.
      showFeedbackPreloader: true,
      //   // Auto generation of a form around the stepper.
      autoFormCreation: true,
      //   // Function to be called everytime a nextstep occurs. It receives 2 arguments, in this sequece: stepperForm,
      //   // activeStepContent.
      validationFunction: defaultValidationFunction, // more about this default functions below
      //   // Enable or disable navigation by clicking on step-titles
      stepTitleNavigation: true,
      //   // Preloader used when step is waiting for feedback function. If not defined, Materializecss spinner-green lighten-2-only
      //   // will be used.
      feedbackPreloader:
        '<div class="spinner-layer spinner-green lighten-2-only">...</div>'
    });
  },
  computed: {
    order() {
      // time: null,
      // date: null,
      // paymentMethod: null,
      // paymentStatus: null
    }
  },
  methods: {
    updatePay() {
      let el = this.$refs.paypal;
      let total = this.total / 100;
      paypal
        .Buttons({
          createOrder: function(data, actions) {
            // Set up the transaction
            return actions.order.create({
              purchase_units: [
                {
                  amount: {
                    value: total
                  }
                }
              ]
            });
          },
          onApprove: (data, actions) => {
            return actions.order.capture().then(details => {
              // Call your server to save the transaction
              let id = details.id;

              if (details.status === "COMPLETED") {
                this.paypalCompleted = "complete";
              }
              return fetch("/checkout", {
                method: "post",
                headers: {
                  "content-type": "application/json"
                },
                body: JSON.stringify({
                  orderID: data.orderID
                })
              });
            });
            // console.log(t);
          }
        })
        .render(el);
    },
    initCheckbox() {
      var elems = document.querySelectorAll("select");
      M.FormSelect.init(elems);
    },
    completeOrder() {
      let completed =
        this.payment === "paypal" ? this.paypalCompleted : this.status;
      let orders = new Orders(
        this.cartProducts,
        this.total,
        this.customer,
        this.shipping,
        this.payment,
        completed
      );
      this.submitted = true;
      DB.collection("orders")
        .add(orders.order)
        .then(() => {
          this.completed = true;
          this.cartProducts.forEach(product => {
            let q = product.quantity;
            q--;
            DB.collection("products")
              .doc(product.id)
              .update({ quantity: q })
              .then(() => {
                console.log(`${product.name} updated`);
              });
          });
          this.$store.commit("resetCart");
        });
    }
  }
};
</script>

<style>
@import url("../assets/css/checkout.css");
</style>