<template>
  <div class="cont">
    <div class="table orders">
      <div class="orders-header">
        <div class="header">Customer</div>
        <div class="header">Items</div>
        <div class="header">Method</div>
        <div class="header">Status</div>
        <div class="header">Address</div>
        <div class="header">Date</div>
        <div class="header">Time</div>
        <div class="header">Delivered</div>
      </div>
      <div class="orders-body">
        <div class="order" v-for="(order, i) in orders" :key="i">
          <div v-capitalize class="order-item">{{ order.customer.name }}</div>
          <div class="order-item">
            <div class="item" v-for="(item, i) in order.items" :key="i">{{ item.name }}</div>
          </div>
          <div class="order-item">{{ order.paymentMethod }}</div>
          <div class="order-item">{{ order.paymentStatus }}</div>
          <div class="order-item">{{ order.shipping | trimCbd }}</div>
          <div class="order-item">{{ order.date }}</div>
          <div class="order-item">{{ order.time }}</div>
          <div class="order-item delivery">
            <button class="btn green" id="delivered" @click="deleteOrder(order.id)">
              <i class="material-icons">done</i>
            </button>
            <button class="btn red" id="recalled" @click="deleteOrder(order.id)">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="add-product" class="modal">
      <div class="modal-content">
        <h3 class="center">Add a new product</h3>
        <div class="row">
          <form class="col s12" @submit.prevent="addProduct()">
            <div class="center red white-text" v-if="feedback">{{ feedback }}</div>
            <div class="row">
              <div class="input-field col s12">
                <input id="product-name" type="text" class="validate" v-model="newProduct.name" />
                <label for="product-name">Product Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="color" type="text" class="validate" v-model="newProduct.color" />
                <label for="color">Product color</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="price" type="text" class="validate" v-model="newProduct.price" />
                <label for="price">Price</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="quantity" type="text" class="validate" v-model="newProduct.quantity" />
                <label for="quantity">Quantity</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select v-model="newProduct.category">
                  <option value disabled selected>Choose a category</option>
                  <option
                    v-for="(category, i) in categories"
                    :key="i"
                    :value="category"
                  >{{ category }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea
                  id="description"
                  rows="5"
                  class="materialize-textarea"
                  v-model="newProduct.description"
                ></textarea>
                <label for="description">Description</label>
              </div>
            </div>

            <div class="row">
              <div class="file-field input-field">
                <div class="btn">
                  <i class="material-icons">cloud_upload</i>
                  <input type="file" id="file" />
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" v-model="newProduct.img" id="img" />
                </div>
              </div>
            </div>
            <button class="btn green lighten-2">Add product</button>
          </form>
        </div>
      </div>
    </div>

    <button
      data-target="add-product"
      id="add"
      class="btn-floating right green lighten-2 modal-trigger"
      onclick="console.log(1)"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</template>

<script>
import { DB, STORE, AUTH } from "../firebase/init";
import M from "materialize-css";
export default {
  name: "Dashboard",
  data() {
    return {
      orders: [],
      created: true,
      categories: ["sneakers", "men", "women", "kids", "unisex", "trending"],
      sound: new Audio(require("../assets/notif/accomplished.mp3")),
      newProduct: {
        name: "",
        price: "",
        quantity: "",
        category: "",
        color: "",
        description: "",
        img: ""
      },
      feedback: null
    };
  },
  methods: {
    notify() {
      this.sound.play();
    },
    addProduct() {
      let elem = document.querySelector(".modal");
      const imgstring = document.querySelector("#img");
      this.newProduct.img = imgstring.value;
      const img = document.querySelector("#file").files[0];

      let crit = true;
      for (let k in this.newProduct) {
        if (this.newProduct[k] == null || this.newProduct[k] == "") {
          crit = false;
        }
      }

      if (crit) {
        this.feedback = null;
        let ref = STORE.ref(`/images/${this.newProduct.img}`);
        ref
          .put(img)
          .then(snap => {
            if (snap.state === "success") {
              DB.collection("products")
                .add(this.newProduct)
                .then(res => {
                  M.Modal.getInstance(elem).close();
                  M.toast({
                    html: "Product added succesfully",
                    classes: "rounded"
                  });
                })
                .catch(err => {
                  console.log(err);
                });
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        alert("You have not filled all forms");
        this.feedback = "You have not filled all forms";
      }
    },
    deleteOrder(id) {
      let del = confirm("Do you want to remove this order?");
      if (del) {
        DB.collection("orders")
          .doc(id)
          .delete()
          .then(() => {
            M.toast({
              html: "Product deleted succesfully",
              classes: "rounded"
            });
          });
      }
    }
  },
  created() {
    let user = AUTH.currentUser;

    DB.collection("orders")
      .orderBy("date", "desc")
      .orderBy("time", "desc")
      .onSnapshot(snap => {
        var ords = [];

        snap.forEach(change => {
          let doc = change.data();
          doc.id = change.id;
          ords.push(doc);
        });
        if (user) {
          if (!this.created) {
            if (!Notification) {
              alert(0);
            }
            if (Notification.permission !== "granted") {
              Notification.requestPermission();
            }
            if (ords.length > this.count) {
              // alert("New product ordered")
              this.notify();
              // this.sound.play();
            }
          }
        }
        this.created = false;
        this.orders = ords;
      });
  },
  computed: {
    count() {
      return this.orders.length;
    },
    width() {
      return window.innerWidth;
    }
  },
  filters: {
    trimCbd(value) {
      if (value === "CBD not specified") {
        return "CBD";
      } else {
        return value;
      }
    }
  },
  mounted() {
    const cart = document.querySelector("#cart-items");
    M.Sidenav.init(cart, {
      edge: "right"
    });

    M.AutoInit();
  }
};
</script>

<style>
.table.orders {
  margin-top: 16px;
}

.orders-header,
.order {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}
.order {
  border-bottom: 1px solid #ccc;
  padding-top: 8px;
  grid-auto-rows: minmax(40px, auto);
}

.order-item .item:not(:first-child) {
  padding-top: 8px;
}
.orders-body {
  margin-top: 16px;
}
.orders-header .header {
  font-weight: 600;
  font-size: 16px;
}

.orders-header {
  position: sticky;
  top: 55px;
  right: 0;
  /* background: rgb(255, 255, 255); */
}

#add {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.add-product .input-field {
  margin-top: unset;
  margin-bottom: unset;
}

.delivery {
  display: flex;
  justify-content: space-evenly;
}

.cont {
  width: 94%;
  margin: 0 auto;
}
</style>