<template>
  <div class="home">
    <div v-if="products.length === 0" class="progress green lighten-4" id="progress">
      <div class="indeterminate green lighten-2"></div>
    </div>
    <div class="row">
      <div class="col s12 m6 l3" v-for="(product, i) in products" :key="i">
        <div class="card z-depth-1">
          <div class="card-image">
            <img :src="product.src" :alt="product.source" class="card-img" />
          </div>

          <div class="card-content">
            <div class="card-title">{{ product.name }}</div>
            <div>{{ product.price }}</div>
            <div v-slice>{{ product.description }}</div>
            <div class="card-action center">
              <div class="row">
                <router-link
                  :to="{ name: 'product', params: {category: product.category,id: product.id}}"
                  class="btn left green lighten-2"
                >
                  <i class="material-icons">arrow_forward</i>
                </router-link>
                <button @click="addToCart(product)" class="btn waves-effect right green lighten-2">
                  <i class="material-icons">shopping_cart</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mixins from "../mixins/mixins";
import { DB, STORE } from "../firebase/init";
import product from "../mixins/product";
import dbmixin from "../mixins/dbmixin";
export default {
  name: "Home",
  mixins: [mixins, product, dbmixin],
  data() {
    return {
      // products: []
      str: "this is just a random string that that i want to be sliced"
    };
  },
  props: {},
  computed: {},
  created() {
    // let ref = denciesStore.ref("/images");
    if (this.$store.state.products.length == 0) {
      this.getProducts();
    }
  }
};
</script>

<style>
.card-action > * {
  margin: 0 16px;
}
</style>
