<template>
  <div class="product container">
    <div class="center">
      <div v-if="!product" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="product">
      <div class="row">
        <a @click="back" class="btn-floating green lighten-2 left">
          <i class="material-icons">arrow_back</i>
        </a>
        <button
          @click="addToCart(product)"
          class="btn green lighten-2 waves-effect right"
        >Add to cart</button>
      </div>
      <div class="col s12 m6 l6 center">
        <img :src="product.src" class="responsive-img" alt />
      </div>
      <div class="col s12 m6 l6">
        <div class="card z-depth-0">
          <div class="card-content">
            <div v-capitalize class="card-title">{{ product.name }}</div>
            <h5>{{ product.price }}</h5>
            <h6>{{ product.color }}</h6>
            <div>{{ product.description }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="suggestions.length > 0">
      <h5>You may also like</h5>
      <div class="row">
        <div v-for="(suggestion, i) in suggestions" :key="i" class="col s6 m4 l3">
          <div class="card">
            <div class="card-content" id="suggestion-header">
              <h6>{{ suggestion.name }}</h6>
              <small>{{ suggestion.price }}</small>
            </div>
            <img :src="suggestion.src" :alt="suggestion.id" class="responsive-img suggestion" />
            <div class="card-actions center" id="suggestion-action">
              <router-link
                class="btn green lighten-2"
                :to="{name: 'product', params: {category: suggestion.category, id: suggestion.id}}"
              >Details</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only lighten-2">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mixins from "../mixins/mixins";
import product from "../mixins/product";
import { DB, STORE } from "../firebase/init";
export default {
  name: "product",
  mixins: [mixins, product],
  data() {
    return {
      product: {},
      suggestions: []
    };
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
    updateProduct() {
      let id = this.$route.params.id;
      let category = this.$route.params.category;
      let prods = [];

      this.$store.state.products.forEach(product => {
        if (product.id == id) {
          this.product = product;
        } else if (product.category == category) {
          prods.push(product);
        }
      });

      this.suggestions = prods;

      /** DB.collection("products")
        .where("category", "==", category)
        .get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            console.log(doc);
            if (doc.data().id === id) {
              let d = doc.data();
              let ref = STORE.ref(`images/${d.img}`);
              ref.getDownloadURL().then(url => {
                d.src = url;
                this.product = d;
                console.log(d);
              });
            } else {
              let d = doc.data();
              let ref = STORE.ref(`images/${d.img}`);
              ref.getDownloadURL().then(url => {
                d.src = url;
                d.id = doc.id;
                prods.push(d);
                this.suggestions = prods;
              });
            }
          });
          this.$store.state.products.forEach(product => {
            if (product.id === id) {
              this.product = product;
            }
            if (product.type == type && product.id !== id) {
              prods.push(product);
            }
          });
          this.suggestions = prods;
          if (!this.product) {
            this.$router.push({ name: "home" });
          }
        }); **/
    }
  },
  created() {
    this.updateProduct();
  },
  watch: {
    $route: "updateProduct"
  }
};
</script>

<style>
.product #product {
  margin-top: 30px;
}

.product .suggestion {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
}
.product #suggestion-header {
  padding: 4px 16px;
}

.product #suggestion-action {
  padding: 16px;
}

.product .card {
  background: rgb(216, 216, 218);
}
</style>