<template>
  <div class="auth">
    <div class="controls center col s12 l8">
      <span @click="changeTo('login')" :class="{'active': current == 'login'}">Login</span>
      <span @click="changeTo('signup')" :class="{'active': current == 'signup'}">Signup</span>
    </div>
    <component :is="current"></component>
  </div>
</template>

<script>
import Login from "./login";
import Signup from "./signup";
export default {
  name: "Auth",
  data() {
    return {
      current: "login"
    };
  },
  components: {
    Login,
    Signup
  },
  methods: {
    changeTo(component) {
      this.current = component;
    }
  }
};
</script>

<style>
.controls > span {
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.auth .controls .active {
  border-bottom: 3px solid #4eb844;
  transition: border 0.5s ease;
}
</style>