<template>
  <div class="login container">
    <form @submit.prevent="login">
      <div class="col s12 l6">
        <div class="input-field">
          <input type="email" name="email" v-model="user.email" id="email" @focus="error =null" />
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input
            type="password"
            name="password"
            v-model="user.password"
            id="password"
            @focus="error =null"
          />
          <label for="password">Password</label>
        </div>
        <div class="center">
          <div v-if="error" class="feedback red-text">{{ error }}</div>
          <button type="submit" class="btn green lighten-2">Login</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { AUTH, DB } from "@/firebase/init";
export default {
  name: "Login",
  data() {
    return {
      user: {
        email: null,
        password: null
      },
      error: null
    };
  },
  methods: {
    login() {
      if (this.user.email && this.user.password) {
        AUTH.signInWithEmailAndPassword(this.user.email, this.user.password)
          .then(user => {
            console.log(user.user);
            this.$router.push({ name: "dashboard" });
          })
          .catch(err => {
            this.error = err.message;
            console.log(err);
          });
      } else {
        this.error = "Fill in all the details correctly";
      }
    }
  },
  created() {
    // console.log(a);
  }
};
</script>

<style>
</style>