<template>
  <div class="login container">
    <form @submit.prevent="signup">
      <div class="col s12 l6">
        <div class="input-field">
          <input
            type="text"
            name="username"
            id="username"
            v-model="user.name"
            @focus="error = null"
          />
          <label for="username">Name</label>
        </div>
        <div class="input-field">
          <input type="email" name="email" id="email" v-model="user.email" @focus="error = null" />
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input
            type="password"
            name="password"
            id="password"
            v-model="user.password"
            @focus="error = null"
          />
          <label for="password">Password</label>
        </div>
        <div class="center">
          <div v-if="error" class="feedback red-text">{{ error }}</div>
          <button type="submit" class="btn green lighten-2">Signup</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { AUTH, DB } from "@/firebase/init";
export default {
  name: "Signup",
  data() {
    return {
      user: {
        name: null,
        email: null,
        password: null,
        phone: null,
        address: null
      },
      error: null
    };
  },
  methods: {
    signup() {
      if (this.user.name && this.user.email && this.user.password) {
        AUTH.createUserWithEmailAndPassword(this.user.email, this.user.password)
          .then(user => {
            DB.collection("users")
              .add(this.user)
              .then(() => {
                this.$router.push({ name: "dashboard" });
              });
          })
          .catch(err => {
            this.error = err.message;
          });
      } else {
        this.error = "Please fill in all the details correctly";
      }
    }
  }
};
</script>

<style>
</style>